<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ShopDoDienTu"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
<!--        <activity-->
<!--            android:name=".activity.FeedbackActivity"-->
<!--            android:exported="false" />-->
        <activity
            android:name=".activity.AddAddressActivity"
            android:exported="false" />
        <activity
            android:name=".activity.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".activity.CheckOutActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DeliveringOrderInforActivity"
            android:exported="false" />
        <activity
            android:name=".activity.WaittingOrderInforActivity"
            android:exported="false" />
        <activity
            android:name=".activity.CancelOrderInforActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DeliveredOrderInforActivity"
            android:exported="false" />
        <activity
            android:name=".activity.seller.MyProductActivity"
            android:exported="false" />
        <activity
            android:name=".activity.seller.CheckingOrderActivity"
            android:exported="false" />
        <activity
            android:name=".activity.seller.HistoryOrderActivity"
            android:exported="false" />
        <activity
            android:name=".activity.CatalogActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MyOrderActivity"
            android:exported="false" />
        <activity
            android:name=".activity.CartActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ProductActivity"
            android:exported="false" />
        <activity
            android:name=".activity.HomeShopActivity"
            android:exported="false" />
        <activity
            android:name=".activity.seller.MainSellerActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MyAccountActivity"
            android:exported="false" />
        <activity
            android:name=".activity.seller.RegisterSellerActivity"
            android:exported="false" />
        <activity
            android:name=".activity.seller.WelcomeSellerActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activity.seller.AddCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".activity.seller.UpdateCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".activity.seller.UpdateProductActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ProductDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activity.seller.AddProductActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ChooseAddressActivity"
            android:exported="false" />
        <activity
            android:name=".activity.FeedbackActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>